<!DOCTYPE html>
<html>
  <head>
    <title>紫微斗數自己來</title>
    <link rel="stylesheet" href="css/screen.css" type="text/css"/>
    <link rel="stylesheet" href="css/board.css" type="text/css"/>
    <script src="script/board.js"  type="application/javascript"></script>
  </head>

  <body>
    <form action="/board" method="post">
      名字:
      <input type="text" name="name">
      <br>

      生日:
      <input type="date" name="birthdate"/>
      <br>

      時辰: 
      <select name="time">
        {% for dz in dizhi %}
        <option value="{{ loop.index0 }}">{{ chinese[dz] }}</option>
        {% endfor %}
      </select>
      <br>

      性別:
      <select name="sex">
        {% for s in sex %}
        <option value="{{ loop.index0 }}">{{ chinese[s] }}</option>
        {% endfor %}
      </select>
      <br>

      已有檔案:
      <select name="existing">
        <option value=""></option>
        {% for person in query %}
        <option value="{{ person.person.name }}">{{ person.person.name }}</option>
        {% endfor %}
      </select>
      <br>

      <input type="submit"/>
    </form>
  </body>
</html>
