<!DOCTYPE html>
<html>
  <head>
    <title>紫微斗數自己來</title>
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection, print"/>
    <link rel="stylesheet" href="css/board.css" type="text/css"/>
		<script src="script/board.js"  type="application/javascript"></script>
  </head>

  <!-- Macro for a simple vertical word. -->
  {% macro vertical_info() -%}
  <p class="vertical regular">{{ caller() }}</p>
  {%- endmacro %}
  {% macro vertical_info_small() -%}
  <p class="vertical small">{{ caller() }}</p>
  {%- endmacro %}

  <!-- Macro for a grid. -->
  {% macro grid_macro(grid)-%}
  <td id="grid{{ grid.di_zhi.number }}"
    class="grid">
    <div class="tdContainer">
      <div class="stars vertical">
        {% for alpha_star in grid.alpha_stars %}
        {% call vertical_info() %}{{ chinese[alpha_star] }}{% endcall %}
        {% endfor %}
      </div>
      <div class="palace small">
        {{ chinese[grid.palace] }}
        {%- if grid.is_body_palace -%}
          (身)
        {%- endif %} ({{ grid.da_xian_start}}-{{grid.da_xian_end}})
      </div>
      <div class="tian-gan-di-zhi vertical small">
        {{ chinese[grid.tian_gan] }}{{ chinese[grid.di_zhi] }}
      </div>
    </div>
  </td>
  {%- endmacro %}

  <body>
    <table id="board" class="board">
      <tr>
        {{ grid_macro(board.grids[5]) }}
        {{ grid_macro(board.grids[6]) }}
        {{ grid_macro(board.grids[7]) }}
        {{ grid_macro(board.grids[8]) }}
      </tr>
      <tr>
        {{ grid_macro(board.grids[4]) }}
        <td class="center" colspan="2" rowspan="2">
          <div class="tdContainer">
            <div class="vertical center">
              {% call vertical_info_small() %}{{ solar_birthday }}{% endcall %}
              {% call vertical_info_small() %}{{ birthday }}{% endcall %}
              {% call vertical_info_small() %}{{ lunar_birthday }}{% endcall %}
              <p class="large name">{{ board.person.name }}</p>
              {% call vertical_info() %}{{ chinese[board.person_taichi] }}{{ chinese[board.person.sex]}}{% endcall %}
              {% call vertical_info() %}{{ chinese[board.board_taichi] }}宮{% endcall %}
              {% call vertical_info() %}{{ chinese[board.element] }}{{ chinese[board.element_number] }}局{% endcall %}
              {% call vertical_info() %}命主：{{ chinese[board.destiny_star] }}{% endcall %}
              {% call vertical_info() %}身主：{{ chinese[board.body_star] }}{% endcall %}
            </div>
          </div>
        </td>
        {{ grid_macro(board.grids[9]) }}
      </tr>
      <tr>
        {{ grid_macro(board.grids[3]) }}
        <!-- Two cells are taken by the center cell from previous row. -->
        {{ grid_macro(board.grids[10]) }}
      </tr>
      <tr>
        {{ grid_macro(board.grids[2]) }}
        {{ grid_macro(board.grids[1]) }}
        {{ grid_macro(board.grids[0]) }}
        {{ grid_macro(board.grids[11]) }}
      </tr>
    </table>
		{% for grid in board.grids %}
		{% if grid.palace.number == 0 %}
		<script type="application/javascript">
			highlightTheFour({{ grid.di_zhi.number }})
		</script>
		{% endif %}
		{% endfor %}
  </body>
</html>
