table.board tbody tr:nth-child(even) td, tbody tr.even td {
	background: none;
}
table.board {
	border-collapse: collapse;
	table-layout: fixed;
	background-image: url(../svg/arrow10.svg);
}
table.board td {
	overflow: hidden;
	padding: 10px;
}
td.grid {
	border: 1px solid black;
	height: 150px;
	vertical-align: top;
	width: 150px;
}
td.center {
	height: 360px;
}
div.tdContainer {
	position: relative;
	height: 100%;
	width: 100%;
	opacity: 100%;
}

div.stars,
div.center {
	top: 0;
	right: 0;
	position: absolute;
}
div.palace {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
div.gridTianGanDiZhi {
	bottom: 0;
	position: absolute;
	right: 0;
	opacity: 0.5;
}

.vertical {
	-webkit-writing-mode: vertical-rl;
	margin: 0;
}
.small {
	font-size: 1.5em;
	line-height: 1.875em;
	margin: 0;
}
.regular {
	font-size: 1.8em;
	line-height: 1.4em;
	margin: 0;
}
.large {
	font-size: 3em;
	line-height: 1em;
	margin: 0;
}
p.name {
	height: 100%;
	text-align: center;
	margin: 0 1em;
}
td.theThree {
	background: rgba(199, 230, 199, 0.3) !important;
}
/* 命財官遷 */
