/* CSS for generic styling. */
.vertical {
	-webkit-writing-mode: vertical-rl;
	margin: 0;
}
.small {
	font-size: 1.6em;
	line-height: normal;
	margin: 0;
}
.smallSlanted {
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
	font-size: 1.7em;
	line-height: normal;
	margin: 0;
}
.regular {
	font-size: 1.8em;
	line-height: normal;
	margin: 0;
}
.large {
	font-size: 3em;
	line-height: normal;
	margin: 0;
}
.starType {
}
.brightness {
	/* Light grey. */
	color: #666;
	font-size: 85%;
	padding-top: 2px;
}
.siHua {
	/* Light orangy red. */
	color: #C63;
	font-size: 85%;
	font-weight: bold;
	padding-top: 2px;
}

/* CSS that applies to the whole table. */
table.board tbody tr:nth-child(even) td, tbody tr.even td {
	background: none;
}
table.board {
	border-collapse: collapse;
	table-layout: fixed;
	margin: 0;
}
table.board td {
	overflow: hidden;
	padding: 8px;
}
td.grid {
	border: 1px solid black;
	height: 160px;
	vertical-align: top;
	width: 180px;
}
td.center {
	height: 320px; /* Twice the grid height. */
}
div.tdContainer {
	box-sizing: border-box;
	height: inherit;
	position: relative;
	width: 100%;
}

/* CSS that applies to specific board elements. */
div.stars {
	top: 0;
	right: 0;
	position: absolute;
}
div.center {
	top: 0;
	right: 0;
	position: absolute;
	height: 100%;
}
div.palace {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
div.tian-gan-di-zhi {
	bottom: 0;
	position: absolute;
	right: 0;
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
	opacity: 0.6;
}
p.name,
p.board-element {
	height: 100%;
	text-align: center;
	margin: 0 20px;
}
p.star-separator {
	width: 10px;
}
td.ming-grid {
  /* 命: light blue. */
	background: rgba(150, 150, 240, 0.4) !important;
}
td.triad-grid {
  /* 官財: light green. */
	background: rgba(150, 240, 150, 0.4) !important;
}
td.opposite-grid {
  /* 遷: light yellow. */
	background: rgba(240, 240, 150, 0.4) !important;
}

